IMGUR_CLIENT_ID=
SPRING_DATASOURCE_DRIVER-CLASS-NAME=org.postgresql.Driver
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=root
JWT_SIGNING_KEY_SECRET=Graphql
FRONT_END_BASE_URL=http://localhost:3000
